/*heart*/

.heart-checkbox {
  display: none;
}
.heart {
  &__full {
    color: transparent;
    background: $heart;
    background-clip: text;    
    transform: scale(0);
    transition: transform .90s ease;
  }

  &__empty {
    opacity: 1;
    transition: opacity .90s ease;
  }
}

.heart-checkbox:checked + .heart-label,
.heart-checkbox:checked + .heart-label-menu {
  & .heart__full {
    transform: scale(1);    
  }

  & .heart__empty {
    opacity: 0;
  }
}

/*botton*/

.btn{
  &:hover {    
    box-shadow: 0rem 0.25rem 0.93rem 0rem  rgba(0, 0, 0, 0.45);
    opacity: 0.8;      
  }
}

/*menu*/

.card {  
  animation-timing-function:  cubic-bezier(0.5, 1.58, 0.34, 0.82);     
  animation-duration: 1s;
  animation-name: appear;  

  &__txt{
    width: 100%;
  }

  &:hover .cardItem {
    margin-right: -1rem; 
  }
}

.cardItem {    
  background-color: $light-green;
  width: 4rem;
  @include flex-center;
  transition: margin-right 0.5s ease; 
  margin: -1rem -5rem -1rem 1rem;
  margin-right: -5rem; 

  &__wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: $bg-crd;
      @include flex-center;
      border-radius: 100%;   
  }

  &__icon {
      color: $light-green;
  }
}

@for $i from 1 through 10 {
  .anime__#{$i} {
     animation-delay: 0.1s * $i;
  }
}

/*
.anime {
  &__1{
    animation-delay: 0.1s;
  }
  &__2{
    animation-delay: 0.2s;
  }
  &__3{
    animation-delay: 0.3s;
  }
  &__4{
    animation-delay: 0.4s;
  }
  &__5{
    animation-delay: 0.5s;
  }
  &__6{
    animation-delay: 0.6s;
  }
  &__7{
    animation-delay: 0.7s;
  }
  &__8{
    animation-delay: 0.8s;
  }
  &__9{
    animation-delay: 0.9s;
  }
  &__10{
    animation-delay: 1s;
  }
  
}
*/


/*loader*/

.loading { 
  @include flex-center;   
  @extend %allpage;   
  padding: 0.93rem;
  flex-direction: column;  
  position: fixed;
  top: 0rem;   
  animation: opacity_reverse 0.5s 3s linear both;
  background-color: $bg-crd;

  &__page{
    @include flex-center; 
    box-sizing: border-box;
    @extend %allpage;  
    padding: 0.93rem;     
    flex-direction: column;  
    background-color: $bg-crd;
    border-radius: 1.87rem;  
    box-shadow: 0rem 0rem 0.75rem 0rem rgba(0,0,0,.8);
  }
}

.loading h2 {
  margin-bottom: 1.25rem;
  font-family: Shrikhand;
  font-size: 2.18rem;
}

.plate {
  height: 12.5rem;
  width: 12.5rem;
  @include flex-center;
  background-color: $txt-dark-grey;
  border-radius: 50%;

  &__in{
    @include flex-center;
    height: 92%;
    width: 92%;   
    position: relative;
    background-color: $bg-medium-gray;
    border-radius: 50%;
  }
}

.fa-bread-slice {
  font-size: 5rem;
}

.hole {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  background-color: $bg-medium-gray;
  border-radius: 50%;

  &__1{
    animation: opacity 0ms 800ms linear both;
    top: 2.5rem;
    left: 2.5rem;
  }

  &__2{
    animation: opacity 0ms 1600ms linear both;
    top: 6.87rem;
    left: 4.68rem;
  }

  &__3{
    animation: opacity 0ms 2400ms linear both;
    top: 3.12rem;
    left: 6.87rem;

  }
}