/*heart*/

.heart-checkbox {
  display: none;
}
.heart {
  &__full {
      color: transparent;
      background: $heart;
      background-clip: text;    
      transform: scale(0);
      transition: transform .90s ease, color .90s ease;
  }

  &__empty {
      opacity: 1;
      transition: opacity .90s ease;
  }
}

.heart-checkbox:checked + .heart-label {
  & .heart__full {
      transform: scale(1);
      color: $heart;
  }

  & .heart__empty {
      opacity: 0;
  }
}

/*botton*/

.btn{
    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
        opacity: 0.8;      
    }
}

/*menu*/

.card {  
   animation-timing-function:  cubic-bezier(0.5, 1.58, 0.34, 0.82);     
   animation-duration: 1s;
   animation-name: appear;  
    
   &__txt{
    width: 100%;
   }

   &:hover .cardItem{
    margin-right: -1rem; 
   }
}

.cardItem {    
  background-color: $light-green;
  width: 4rem;
  @include flex-center;
  transition: margin-right 0.5s ease; 
  margin: -1rem -5rem -1rem 1rem;
  margin-right: -5rem; 

  &__wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: $bg-crd;
      @include flex-center;
      border-radius: 100%;   
  }

  &__icon {
      color: $light-green;
  }
}
 
.anime {
  &__1{
    animation-delay: 0.1s;
  }
  &__2{
    animation-delay: 0.2s;
  }
  &__3{
    animation-delay: 0.3s;
  }
  &__4{
    animation-delay: 0.4s;
  }
  &__5{
    animation-delay: 0.5s;
  }
  &__6{
    animation-delay: 0.6s;
  }
  &__7{
    animation-delay: 0.7s;
  }
  &__8{
    animation-delay: 0.8s;
  }
  &__9{
    animation-delay: 0.9s;
  }
  &__10{
    animation-delay: 1s;
  }
  
}
/*loader*/

.loading { 
  @include flex-center;   
  @extend %allpage;   
  padding: 15px;
  flex-direction: column;  
  position: fixed;
  top: 0px;   
  animation: opacity_reverse 0.5s 3s linear both;
  background-color: $bg-crd;

  &__page{
    @include flex-center; 
    box-sizing: border-box;
    @extend %allpage;  
    padding: 15px;     
    flex-direction: column;  
    background-color: $bg-crd;
    border-radius: 30px;  
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.8);
  }
}
.loading h2 {
  margin-bottom: 20px;
  font-family: Shrikhand;
  font-size: 35px;
}
.plate {
  height: 200px;
  width: 200px;
  @include flex-center;
  background-color: $txt-dark-grey;
  border-radius: 50%;
  &__in{
    @include flex-center;
    height: 92%;
    width: 92%;   
    position: relative;
    background-color: $bg-medium-gray;
    border-radius: 50%;
  }
}

.fa-bread-slice {
  font-size: 80px;
  background-image: $number-color;  
}

.hole {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: $bg-medium-gray;
  border-radius: 50%;

  &__1{
    animation: opacity 0ms 800ms linear both;
    top: 40px;
    left: 40px;
  }

  &__2{
    animation: opacity 0ms 1600ms linear both;
    top: 110px;
    left: 75px;
  }

  &__3{
    animation: opacity 0ms 2400ms linear both;
    top: 50px;
    left: 110px;

  }
}