        /*heart*/

.restaurants__heart--full {
  color: transparent; 
  background-image: $btn-gradient;
  background-clip: text;
  opacity: 0;
  transition: opacity 0.70s ease;
}

 .restaurants__card__heart:hover .restaurants__heart--full {
  opacity: 1;
 }

 .restaurants__card__heart:hover .restaurants__heart {
  opacity: 0;
 }

          /*botton*/

button {
  background-color: $btn-color;
}

.hero__btn,.menu__btn {
    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        opacity: 0.8;      
    }
}

          /*menu*/

.card__txt {
  flex: 1;
}
.menu__card {  
   animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
   animation-fill-mode: both;
   transform: scale(0);   
   animation-duration: 1s;
   animation-name: appear;
}
.menuItem__confirmation {
    background-color: $light-green;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
    transform: scale(100%);
  }

  .menu__card:hover .menuItem__confirmation {
    margin-right: -1rem;    
  }

  .menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transition-duration: 0.5s;
  }

  .menuItem__icon{
    color: $light-green;
   
  }
.validation{
    @extend %flex-center;
}

.anime {
  &__1{
    animation-delay: 0.1s;
  }
  &__2{
    animation-delay: 0.2s;
  }
  &__3{
    animation-delay: 0.3s;
  }
  &__4{
    animation-delay: 0.4s;
  }
  &__5{
    animation-delay: 0.5s;
  }
  &__6{
    animation-delay: 0.6s;
  }
  &__7{
    animation-delay: 0.7s;
  }
  &__8{
    animation-delay: 0.8s;
  }
  &__9{
    animation-delay: 0.9s;
  }
  &__10{
    animation-delay: 1s;
  }
  
}


body .loading_page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  animation: opacity_reverse 500ms 3000ms linear both;
  background-color: white;
}


body .loading_page .container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;  
  padding: 15px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,.8);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,.8);
}



body .loading_page .container .plate_out {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a9a9a9;
  border-radius: 50%;
}

body .loading_page .container .plate_out .plate_in {
  height: 185px;
  width: 185px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #d3d3d3;
  border-radius: 50%;
}
body .loading_page .container .plate_out .plate_in .hole {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: #d3d3d3;
  border-radius: 50%;
}

body .loading_page .container .plate_out .plate_in .food {
  font-size: 80px;
}

body .loading_page .container .plate_out .plate_in .hole_1 {
  animation: opacity 0ms 800ms linear both;
}

body .loading_page .container .plate_out .plate_in .hole_1 {
  top: 40px;
  left: 40px;
}

body .loading_page .container .plate_out .plate_in .hole_2 {
  animation: opacity 0ms 1600ms linear both;
}

body .loading_page .container .plate_out .plate_in .hole_2 {
  top: 110px;
  left: 75px;
}

body .loading_page .container .plate_out .plate_in .hole_3 {
  animation: opacity 0ms 2400ms linear both;
}

body .loading_page .container .plate_out .plate_in .hole_3 {
  top: 50px;
  left: 110px;
}

body .index_main .result .container__result .restaurant__img a .enabled {
  animation: opacity 280ms 0ms linear alternate infinite both;
}

@keyframes opacity_reverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
}
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
}
}


