
// general

$light-green: #99E2D0;
$number-color: #9356DC;
$dark-grey: #353535;

// button
$txt-green: #008766;
$btn-new: #99E2D0;
$btn-color: white;
$btn-gradient:linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));

// background

$bg-light-gray: #F6F6F6;
$bg-medium-gray: #EAEAEA;

// txt
$txt-black: black;
$txt-white: white;
$txt-dark-grey: #353535;

// icon
$ico:#7E7E7E;
$store:#9356DC;

// card
$bg-crd:white;



@font-face {
    font-family: 'roboto';
    src: url(../Font/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Shrikhand';
    src: url(../Font/Shrikhand-Regular.ttf);
}
$roboto: roboto, sans-serif;
$Shrikhand:Shrikhand,sans-serif;


// font

.hero {
    background-color: $bg-light-gray;
    &__title {
        font-size: 24px;
    }
    &__subtitle {
        font-size: 18px;
        color: $dark-grey;
    }
}

    .fa-store {
        color:$number-color;
    }

