.footer {
    display: flex;
    flex-direction: column;
    padding: 1.56rem 1.37rem;
    color:$txt-white;
    background-color:$dark-grey;
    gap: 1rem;

    @include media-min("tablet-up"){
        align-items: center;
    }

    @include media-min("desktop-up"){
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 5.5rem;

        &__title {
            margin-left: 3.75rem;
        }
    }

    &__title {
        font-family: $Shrikhand;
        font-size: $heading-tertiary;
        font-weight: 100;
        margin: 0;
        width: 8.68rem;
        height: 1.68rem;
    }
    
    &__link {
        display: flex;
        flex-direction: column;       
        gap: 0.43rem;
        @include media-min("tablet-up"){
            flex-direction: row;
            align-items: flex-end; 
            gap: 1.87rem;
        }
        
        &__1, &__2 {
        text-decoration: none;
        color:$txt-white; 
        font-size: $heading-secondary;
        font-weight: 500;
        }

        &__1 {
            
            gap: 0.43rem;  
            display: flex;                     
        }
        
        &__2{
            font-weight: 400;
        }
    }
}
