.header {
    @include flex-center;
    box-shadow: 0rem 0.12rem 0.25rem 0rem rgba(0, 0, 0, 0.15); 
    padding: 0;
    margin: 0;
    @include media-min("desktop-up"){
        justify-content: center; 
        }  

    &__logo {
        padding: 0;
        margin: 0;
        margin:1.37rem 0rem 0.81rem 0rem;
        height: 2.12rem;
        width: 10.12rem; 
        @include media-min("tablet-up"){            
            width: 12.5rem; 
        }       
    }

    &__restaurant{
    display: flex;
    margin: 0.81rem auto 0.87rem 1rem;
    position: relative;  

        &__logo{
        margin: auto;
        }
    }
}

.return {
    @include flex-center;
    text-decoration: none;
    color: $txt-black;
}
