.header {
    @extend %flex-center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); 
    padding: 0;
    margin: 0;
    @include media-min("desktop-up"){
        justify-content: center; 
        }  

    &__logo {
        padding: 0;
        margin: 0;
        margin:22px 0px 13px 0px;
        height: 30px;        
    }

    &__restaurant{
    display: flex;
    margin: 13px auto 14px 17px;
    position: relative;  
          
        &__logo{
        margin: auto;
        }
    }
}

.return {
    @extend %flex-center;
    text-decoration: none;
    color: $txt-black;
}
