
* :root{
    box-sizing: border-box
}
.body{  
    margin: 0;
    padding: 0;
    min-width: 320px;    
}
.body main {
    animation: z-index 0ms 3500ms linear both;
}
        //hero
.location {
    @extend %flex-center;
    gap: 17px;    
}

.hero {
    @extend %flex-center;
    flex-direction: column;
    
    &__title {
        margin-top: 39px;
        margin-bottom: 0;
        width: 275px;
        height: 68px;
        flex-shrink: 0;
    }
    &__subtitle {
        margin: 0;
        width: 315px;
        height: 46px;
    }
    &__btn {
        margin-top: 27px;
        margin-bottom: 57px;
        border-radius: 25px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);  
        transition-duration: 300ms;
        @extend %hero-btn  
            
    }

}

    // onboarding

.onboarding__container {
    margin: 48px 20px 68px 33px;
    &__btn{
        display: grid;
        gap: 24px;
       }
}

 .onboarding__btn {
    gap: 27px;
    position: relative;
    display: flex;
    align-items:center;
    padding: 20px 30px;
    border-radius:20px;
    .number {
        @extend %flex-center;
        position: absolute;
        background-color:$number-color;
        border-radius: 50%;
        left: -12px;
        width: 24px;
        height: 24px;
    }
    .onboarding__txt{
        font-weight: 500;
        font-size: 16px;
        color:$txt-black;
        margin: 0;
    }
}
    // restaurants

.restaurants__container{
    background-color:$bg-light-gray;
    display: grid;
    padding: 60px 20px;
    justify-content: space-around;
    &__card {
        display: grid;
        gap: 18px;
        position: relative;
        .restaurants__card{   
            gap: 18px;
            border-radius: 15px;
        }    
    }
}  
.restaurants__card__link {  
    display: inline-grid;     
    position: relative; 
    width: 100%;
    @media (min-width: 767.98px){
        
    }  
} 

.restaurants__new {
    padding: 7px 9px;
    border-radius:2px;
    position: absolute;
    right: 12px;
    top: 13px;
}
.restaurants__img{
    border-radius:15px 15px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 18rem;
}
    

.restaurants__card__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 25px 12px 13px;

    
    &__card__txt{
        display: grid;
        gap: 5px;
    }
    .restaurants__card__title{
        margin: 0;
    }
    .restaurants__card__subtitle{
        margin: 0;
    }
    
}

 .restaurants__card__heart {
    cursor: pointer;    
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}


 .restaurants__heart,.restaurants__heart--full {    
    position: absolute;     
}

.fa-heart {
    font-size: 22px;
}

    //media queries tablets
@media (min-width: 767.98px) {
    .hero { 
        gap: 18px;
        padding: 30px 0px 30px 0px;
        &__title, &__subtitle {
            width: auto;
            margin: 0;
            height: auto;
        }
    }    
    .hero__btn {
        margin: 0px;
        }
    .onboarding__container,.onboarding__title, .restaurants__title, .menu__container,.restaurants__container__card {
        display: grid;
        justify-content: center;
    }
    .restaurants__container__card {
        grid-template-columns: 1fr;
        width: 535px;
    }
}
    //media queries desktop
@media (min-width: 1024px) {
    .body {
        justify-content: center;
    }
    .hero__container__btn{
        margin: 0;
    }
    .onboarding__container{
        gap: 25px;
        margin: 50px 0px;
    }
    .onboarding__title{
        justify-content: flex-start;
        margin: 0;
    }
    .onboarding__container__btn{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 36px;
    }
    .restaurants__container {
        padding: 0;
        
    }
    .restaurants__title{
        justify-content: start;
    }
    .restaurants__container__card {
        grid-template-columns: 1fr 1fr;
        gap: 50px 100px;
        width: 100%;
    }
  
}

