/*general*/

* :root,.loading {
    box-sizing: border-box;    
}

.body,h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

.body {
    min-width: 375px; 
    font-family: roboto;
}    

/*hero*/

.location {
    @include flex-center;
    gap: 1rem; 
    font-weight: bold;
    background-color: $bg-medium-gray;
    color: $dark-grey;    
    height: 3.2rem;
    &__title {
    font-size: $heading-secondary;
    font-weight: 500;
    }   
}

.fa-location-dot {
    height: 1rem
}

.hero {
    @include flex-center;
    background-color: $bg-light-gray;
    flex-direction: column;

    @include media-min("tablet-up"){
        gap: 1.2rem;
        padding: 2rem 0rem;        
    }

    &__title {
        margin-top: 2.4rem;        
        width: 17rem;
        height: 4.2rem;
        font-size: $heading-quaternary;
        font-weight: 700;

        @include media-min("tablet-up"){
            margin-top: 0;
            width: auto; 
            height: auto;                   
        }
    }

    &__subtitle {
        margin: 0;
        width: 20rem;
        height: 2.8rem;
        font-size: $heading-tertiary;
        font-weight: 300;
        color: $dark-grey;

        @include media-min("tablet-up"){
            width: auto; 
            @include flex-center;            
        }
    }

    &__btn {
        margin: 1.6rem 0rem 3.5rem;                      
        transition-duration: 300ms;
        font-weight: 500;
        font-size: $heading-secondary;
        @extend %btn; 

        @include media-min("tablet-up"){
            margin: 0;            
            }        
    }  

}

/*heart*/

.heart-label {
    cursor: pointer;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 2rem;
    right: 1.5rem;
}

.heart__empty,.heart__full {    
    position: absolute;     
}

.fa-heart {
    font-size: 1.4rem;
}

/*Operations*/

.Operations {
    margin: 3rem 1.25rem 4.25rem 2rem;
    
    @include media-min("tablet-up"){
        @include grid-center;       
    }

    &__title{
        margin-bottom: 1.5rem;
        font-weight: 700;
        font-size: $heading-quaternary;

    @include media-min("tablet-up"){
        justify-content: flex-start;        
        @include grid-center;        
        }

    @include media-min("desktop-up"){
        justify-content: flex-start
        }
    }
}

.step {
    display: grid;
    gap: 1.5rem;
    
    @include media-min("tablet-up"){
        @include grid-center;
    }

    @include media-min("desktop-up"){
        grid-template-columns: 1fr 1fr 1fr;        
    } 

    &__btn{        
        gap: 1.7rem;
        position: relative;
        display: flex;
        align-items:center;
        padding: 1.25rem 1.8rem;
        border-radius:1.25rem;
        background-color: $bg-light-gray;
        color:$dark-grey;
        box-shadow: 0rem 0.25rem 0.93rem rgba(0, 0, 0, 0.15);
        
        &__number{
            @include flex-center;
            position: absolute;
            background-color:$number-color;
            border-radius: 50%;
            left: -0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            color:$txt-white;            
        }

        &__txt{
            font-weight: 500;
            font-size: $description;
            font-weight: 500;
            color:$txt-black;
            margin: 0;
        }
    }
}

.fa-store {
    color:$number-color;
}

/* restaurants*/

.restaurants {
    background-color:$bg-light-gray;
    display: grid;
    padding: 6rem 2rem;
    justify-content: space-around;

    @include media-min("desktop-up"){
        padding: 1.87rem 0rem;
    }

    &__title{
        margin-bottom: 1.25rem;

        @include media-min("desktop-up"){
        margin-bottom: 1.87rem; 
        font-weight: 700;
        font-size: $heading-quaternary;      
        }
    }

    &__cards {
        display: grid;
        gap: 1.12rem;
        position: relative; 

        @include media-min("desktop-up"){
            grid-template-columns: 1fr 1fr;
            gap: 3.12rem 6.25rem;
                
        }        

        &__article {               
            border-radius: 0.93rem;
            background-color:$bg-crd;            
        }    
    }
}  

/* cards */

.cards {  
    display: inline-grid;     
    position: relative; 
    width: 100%;
    text-decoration: none;
    color:$txt-black; 

    &__new{
        padding: 0.43rem 0.56rem;
        border-radius:0.12rem;
        position: absolute;
        right: 0.75rem;
        top: 0.81rem;
        color: $txt-green;
        background-color:$btn-new;
    }
    
    &__img{
        border-radius:1rem 1rem 0rem 0rem;
        object-fit: cover;
        width: 100%;
        height: 18rem;
    }
    &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 1.56rem 0.75rem 0.81rem;        
    }
} 

.cards__txt {
        display: grid;
        gap: 0.31rem;
    
    &__title{
        margin: 0;
        font-weight: 700;
        font-size: $heading-tertiary;
    }

    &__subtitle{
        margin: 0;
        font-weight: 300;
        font-size: $paragraph;
    }    
}