                    /*general*/
* :root {
    box-sizing: border-box;    
}

.body,h1,h2,h3,p {
    margin: 0;
    padding: 0;
}
h1 {
  font-family: Shrikhand;
}
.body {
  min-width: 375px; 
  font-family: roboto;
}    
   

                        /*hero*/
       
.location {
    @extend %flex-center;
    gap: 17px; 
    font-weight: bold;
    background-color: $bg-medium-gray;
    color: $dark-grey;    
    height: 50px;
    &__title {
        font-size: 16px;
    }   
}


.hero {
    @extend %flex-center;
    background-color: $bg-light-gray;
    flex-direction: column;
    @include media-min("tablet-up"){
        gap: 18px;
        padding: 30px 0px 30px 0px;        
    }

    &__title {
        margin-top: 39px;        
        width: 275px;
        height: 68px;
        flex-shrink: 0;
        font-size: 24px;
        @include media-min("tablet-up"){
            margin-top: 0;
            width: auto; 
            height: auto;                   
        }
    }

    &__subtitle {
        margin: 0;
        width: 315px;
        height: 46px;
        font-size: 18px;
        color: $dark-grey;
        @include media-min("tablet-up"){
            width: auto; 
            text-align: center;              
            display: flex;   
            align-items: center;             
        }
    }

    &__btn {
        margin-top: 27px;
        margin-bottom: 57px;
        border-radius: 25px;          
        transition-duration: 300ms;
        @extend %btn; 
        @include media-min("tablet-up"){
            margin: 0;            
            }        
    }    
}

                        /*Fonctionnements*/

.Fonctionnements{
    margin: 48px 20px 68px 33px;
    
    @include media-min("tablet-up"){
        @include grid-center;       
    }

    &__title{
        margin-bottom: 34px;
        font-size: 24px;

    @include media-min("tablet-up"){
        justify-content: flex-start;
        margin: 50px 0px;
        @include grid-center;        
        }

    @include media-min("desktop-up"){
        justify-content: flex-start
        }
    }
}

.step {
    display: grid;
    gap: 24px;
    
    @include media-min("tablet-up"){
        @include grid-center;
    }

    @include media-min("desktop-up"){
        grid-template-columns: 1fr 1fr 1fr;        
    } 

    &__btn{
        gap: 27px;
        position: relative;
        display: flex;
        align-items:center;
        padding: 20px 30px;
        border-radius:20px;
        background-color: $bg-light-gray;
        color:$dark-grey;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        
        &__number{
            @extend %flex-center;
            position: absolute;
            background-color:$number-color;
            border-radius: 50%;
            left: -12px;
            width: 24px;
            height: 24px;
            color:$txt-white;            
        }

        &__txt{
            font-weight: 500;
            font-size: 16px;
            color:$txt-black;
            margin: 0;
        }
    }
}

.fa-store {
    color:$number-color;
}

                        /* restaurants*/


.restaurants{
    background-color:$bg-light-gray;
    display: grid;
    padding: 66px 20px;
    justify-content: space-around;
    @include media-min("desktop-up"){
        padding: 30px 0px;
    }

    &__title{
        margin-bottom: 20px;
        @include media-min("desktop-up"){
            margin-bottom: 30px;       
        }
    }

    &__cards {
        display: grid;
        gap: 18px;
        position: relative; 
        @include media-min("desktop-up"){
            grid-template-columns: 1fr 1fr;
            gap: 50px 100px;
            width: 100%;        
        }        

        &__article {               
            border-radius: 15px;
            background-color:$bg-crd;            
        }    
    }
}  

                        /* cards */

.cards {  
    display: inline-grid;     
    position: relative; 
    width: 100%;
    text-decoration: none;
    color:$txt-black; 
      

    &__new{
        padding: 7px 9px;
        border-radius:2px;
        position: absolute;
        right: 12px;
        top: 13px;
        color: $txt-green;
        background-color:$btn-new;
    }
    
    &__img{
        border-radius:15px 15px 0px 0px;
        object-fit: cover;
        width: 100%;
        height: 18rem;
    }
    &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 25px 12px 13px;        
    }
} 

             

.cards__txt {
        display: grid;
        gap: 5px;
    
    &__title{
        margin: 0;
    }

    &__subtitle{
        margin: 0;
    }    
}

                /*heart*/

 .restaurants__card__heart {
    cursor: pointer;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}


 .restaurants__heart,.restaurants__heart--full {    
    position: absolute;     
}

.fa-heart {
    font-size: 22px;
}