/*variable font-size*/

$description: 15px; 
$heading-secondary: 16px; 
$paragraph: 17px; 
$heading-tertiary: 18px; 
$heading-quaternary: 24px; 
$heading-primary: 28px; 
$branding: 30px; 

/* mixin*/

@mixin grid-center {
  display: grid;
  justify-content: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* extend */

%btn {
  @include flex-center;
  border-radius: 1.56rem;
  background: $btn-gradient;
  width: 13.62rem;
  height: 3.12rem;
  color:$txt-white;  
  text-decoration: none;
  box-shadow: 0rem 0.25rem 0.1rem rgba(0, 0, 0, 0.25);
  font-size: $heading-secondary;
}

%allpage {
  height: 100%;
  width: 100%;
}

/*keyframes*/

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes opacity_reverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
}
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*breakpoints*/

  $breakpoints: (
	"phone-down": 500px,
	"tablet-up": 768px,
	"tablet-down": 900px,
	"desktop-up": 1024px,
	"desktop-down": 1280px,
	"widescreen-up": 1440px
  );
  
  @mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
      &{ @content; }
    }
  }

