// heart

.restaurants__card__heart{
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    display: grid;
    justify-content: end;
    align-items: center;
 
}  

 
.restaurants__heart{
  
  
    &:hover {
      opacity: 1;
      background-image: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    
     &:hover::before{
      opacity: 1;
     }

     &::before{
      content: "";
      cursor: pointer;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: opacity 0.3s ease-in-out;
    }
  }
    
}


$button-color: white;

button {
  background-color: $button-color;
}

//btn
.hero__container__btn {

    &:hover {
        box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
        background-color: lighten($button-color, 10%);
    }
}

//test
.menu__list {
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
}
.card__txt {
  flex: 1;
}
.menu__card {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation-fill-mode: both;
  max-width: 100%;
}
.menuItem__confirmation {
    background-color: $light-green;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 200ms;
  }

  .menu__card:hover .menuItem__confirmation {
    margin-right: -1rem;
    
  }

  .menuItem__wrapIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition-duration: 200ms;

  }

  .menuItem__icon{
    color: #99E2D0;
    
  }

 
.validation{
    @extend %flex-center;
}
.menu__btn {
    @extend %hero-btn;
    
}