@font-face {
    font-family: 'roboto';
    src: url(../Font/Roboto-Regular.ttf);
}
@font-face {
    font-family: ;
    src: url(../Font/Roboto-Regular.ttf);
}
$roboto: roboto, sans-serif;

.body{
    font-family: roboto;
    margin: 0;
    padding: 0;
}

