@font-face {
    font-family: 'roboto';
    src: url(../Font/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Shrikhand';
    src: url(../Font/Shrikhand-Regular.ttf);
}
$roboto: roboto, sans-serif;
$Shrikhand:Shrikhand,sans-serif;
.body{
    font-family: roboto;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    min-width: 375px;
}

