.footer{
    display: flex;
    flex-direction: column;
    padding: 25px 22px;
    color:white;
    background-color:$dark-grey;
}
.footer-tittle {
    font-family: $sr;
   
}


.footer-link {
    display: flex;
    flex-direction: column;  
    gap: 7px;
    
}
.footer-link-2 {
    text-decoration: none;
    color:white;
}