.footer{
    display: flex;
    flex-direction: column;
}
.footer-img{
    font-size: -10px;
    color:white;
}


.footer-a {
    display: flex;
    flex-direction: column;  
    gap: 7px;
    text-decoration: ;
}