.header {
    @extend %flex-center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header-logo {
    margin:22px 0px 13px 0px;
    height: 30px;
}

.header-restaurant{
   display: flex;
   align-items: center;
   margin: 13px auto 14px 17px;

}
.header-restaurant-logo{
    margin: auto;
}
.return {
    @extend %flex-center;
    text-decoration: none;
    color: $txt-black;
}