
* :root{
    box-sizing: border-box
}
        //hero
.location-container {
    @extend %flex-center;
    gap: 17px;    
    background-color: $bg-medium-gray;
    color: $dark-grey;
    font-weight: bold;
}
.hero-container {
    @extend %flex-center;
    flex-direction: column;
    background-color: $bg-light-gray;
    
    
    .hero-title {
        font-size: 24px;
        margin-top: 39px;
        margin-bottom: 0;
        width: 275px;
        height: 68px;
        flex-shrink: 0;
    }
    .hero-subtitle {
        margin: 0;
        font-size: 18px;
        color: $dark-grey;
        width: 315px;
        height: 46px;
        flex-shrink: 0;
    }
    .hero-button {
        margin-top: 27px;
        margin-bottom: 57px;
        border-radius: 25px;
        background: $btn-gradient;
        width: 218px;
        height: 50px;
        color:$txt-white;
        @extend %flex-center;
        text-decoration: none;
    }
}
    //onboarding

.onboarding-container {
    margin: 48px 20px 68px 33px;
}
.onboarding-container-button{
 display: grid;
 gap: 24px;
}
 .onboarding-button {
    gap: 27px;
    position: relative;
    display: flex;
    align-items:center;
    padding: 30px;
    color:$txt-black;
    border-radius:20px;
    background-color: $bg-light-gray;
    color:$dark-grey;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    .number {
        @extend %flex-center;
        color:$txt-white;
        position: absolute;
        background-color:$number-color;
        border-radius: 50%;
        left: -12px;
        width: 24px;
        height: 24px;
    }
    .fa-solid {            
        font-size: 24px;
        color:$ico;
    }
    .onboarding-txt{
        color:$txt-black;
        margin: 0;
    }
}
    // restaurants

.restaurants-container{
    background-color:$bg-light-gray;
    display: grid;
    grid-column: 1fr; 
    padding: 60px 20px;
}  
.restaurants-container-card {
    display: grid;
    gap: 18px;
    position: relative;
}
.restaurants-card-link {  
    display: inline-grid; 
    width: 100%;    
    text-decoration: none;
    color:$txt-black;
    position: relative;
}
.restaurants-new {
    padding: 7px 9px;
    border-radius:2px;
    color: $txt-green;
    background-color:$btn-new;
    position: absolute;
    right: 12px;
    top: 13px;
}
.restaurants-img{
    border-radius:15px 15px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 18rem;
}
.restaurants-card{   
    gap: 18px;
    border-radius: 15px;
    background-color:$bg-crd;
}


.restaurants-card-description{
    display: grid;
    margin: 13px;
    gap
}

.restaurants-card-title{
    margin: 0;
}
.restaurants-card-subtitle{
    margin: 0;
}
.restaurants-heart{
    padding: 0;
    border:0px;
    background-color:$bg-crd;
    position: absolute;
    bottom: 130px;
    right: 20px;
}
.fa-heart {
    font-size: 22px;
}













