.restaurant-main{
    position: relative;
}
.restaurant-img{
    object-fit: cover;
    width: 100%;
    height: 275px;
}
.restaurant-main{
    gap: 40px;
    padding: 20px;
}
.restaurant-title {
    font-family: $Shrikhand;
    .h1 {
        font-size: 28px;
    }
}
