.restaurant-main{
    gap: 40px;
    padding: 20px;
    background-color: $bg-light-gray;
    border-radius: 24px 24px 0px 0px;
    position: relative;
    z-index: 1;
    margin-top: -55px;
}

.restaurant-img{
    object-fit: cover;
    width: 100%;
    height: 275px;
}

.restaurant-title-h1 {
    font-family: $Shrikhand;
    font-weight: 400;
}
.restaurant-heart{
    padding: 0;
    border: 0px;
    position: absolute;
    background-color: black;
    bottom: 40px;
    right: 20px;
}

