.restaurant-main{
    gap: 40px;
    padding: 20px;
    background-color: $bg-light-gray;
    border-radius: 24px 24px 0px 0px;
    position: relative;
    z-index: ;
}

.restaurant-img{
    object-fit: cover;
    width: 100%;
    height: 275px;
}

.restaurant-title-h1 {
    font-family: $Shrikhand;
    font-weight: 400;
}

