

.restaurant-main{
    gap: 40px;
    padding: 30px 20px 40px 20px;
    background-color: $bg-light-gray;
    border-radius: 24px 24px 0px 0px;
    position: relative;
    margin-top: -55px;
    display: flex;
    flex-direction: column;
}
.restaurant-main  {
    .h1, h3, p{
    margin: 0;
    }
}

.restaurant-img{
    object-fit: cover;
    width: 100%;
    height: 275px;
}
.restaurant-banner {
    display: flex;    
    gap: 24px;   
}

.restaurant-title-h1 {
    font-family: $Shrikhand;
    font-weight: 400;
    margin: 0;
    font-size: 28px;
}
.restaurant-heart{
    border: 0px;
    background-color: $bg-light-gray;
    cursor: pointer;
}

.restaurant-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.restaurant-title-h2 {
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;  
    
}
.restaurant-title-h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    width: 40px;
    background-color: $btn-new;
}
.restaurant-card {
    display: flex;
    background-color: $bg-crd;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
}
.card
.card-money {
    display: flex;
    align-items: flex-end;
}

.validation{
    @extend %flex-center;
}
.restaurant-button {
    @extend %hero-button;
}
