.restaurant-main{
    gap: 40px;
    padding: 20px;
    background-color: $bg-light-gray;
    position: absolute;
    bo
}

.restaurant-img{
    object-fit: cover;
    width: 100%;
    height: 275px;
    position: absolute;
}

.restaurant-title-h1 {
    font-family: $Shrikhand;
    font-weight: 400;
}

