
// general

$light-green: #99E2D0;
$number-color: #9356DC;
$dark-grey: #353535;

// button
$txt-green: #008766;
$btn-new:
$btn-gradient:linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));

// background

$bg-light-gray: #F6F6F6;
$bg-medium-gray: #EAEAEA;

// txt
$txt-black: black;
$txt-white: white;
$txt-dark-grey: #353535;

// icon
$ico:#7E7E7E;
$store:#9356DC;

// card
$bg-crd:white;
